src/main/resources/xsd/SIR_FDM_2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:sdf="http://www.gael.fr/2004/12/drb/sdf" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <!-- ========================================= -->
  <!--           MAIN PRODUCT HEADER             -->
  <!-- ========================================= -->
  <xs:complexType name="MPH_TYPE">
    <xs:annotation>
      <xs:documentation xml:lang="en">MPH</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <!-- Field 1: Product -->
      <xs:element name="PRODUCT" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="en">Product File name</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:padding type="header">9</sdf:padding>
              <sdf:padding type="footer">2</sdf:padding>
              <sdf:encoding>ASCII</sdf:encoding>
              <sdf:length>62</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 2: Processing stage code -->
      <xs:element name="PROC_STAGE" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="en">Processing Stage Flag</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:padding type="header">11</sdf:padding>
              <sdf:padding type="footer">1</sdf:padding>
              <sdf:encoding>ASCII</sdf:encoding>
              <sdf:length>1</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 3: Reference DFCB -->
      <xs:element name="REF_DOC" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="en">Reference Document Describing Product</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:padding type="header">9</sdf:padding>
              <sdf:padding type="footer">2</sdf:padding>
              <sdf:encoding>ASCII</sdf:encoding>
              <sdf:length>23</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 4: Spare -->
      <!-- Field 5: Acquisition station -->
      <xs:element name="ACQUISITION_STATION" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="en">Acquisition Station ID</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:padding type="header">62</sdf:padding>
              <sdf:padding type="footer">2</sdf:padding>
              <sdf:encoding>ASCII</sdf:encoding>
              <sdf:length>20</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 6: Processing center -->
      <xs:element name="PROC_CENTER" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="en">Processing Center ID which generated current product</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:padding type="header">13</sdf:padding>
              <sdf:padding type="footer">2</sdf:padding>
              <sdf:encoding>ASCII</sdf:encoding>
              <sdf:length>6</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 7: Processing time -->
      <xs:element name="PROC_TIME" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="en">UTC Time of Processing</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:padding type="header">11</sdf:padding>
              <sdf:padding type="footer">2</sdf:padding>
              <sdf:encoding>ASCII</sdf:encoding>
              <sdf:length>27</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 8: Software version / Processor name -->
      <xs:element name="SOFTWARE_VER" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="en">Software Version number of processing software</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:padding type="header">14</sdf:padding>
              <sdf:padding type="footer">2</sdf:padding>
              <sdf:encoding>ASCII</sdf:encoding>
              <sdf:length>14</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 9: Spare -->
      <!-- Field 10: Sensing start -->
      <xs:element name="SENSING_START" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="en">UTC start time of data sensing</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:padding type="header">56</sdf:padding>
              <sdf:padding type="footer">2</sdf:padding>
              <sdf:encoding>ASCII</sdf:encoding>
              <sdf:length>27</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 11: Sensing stop -->
      <xs:element name="SENSING_STOP" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="en">UTC stop time of data sensing</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:padding type="header">14</sdf:padding>
              <sdf:padding type="footer">2</sdf:padding>
              <sdf:encoding>ASCII</sdf:encoding>
              <sdf:length>27</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 12: Spare -->
      <!-- Field 13: Mission phase -->
      <xs:element name="PHASE" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="en">Phase</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:padding type="header">47</sdf:padding>
              <sdf:padding type="footer">1</sdf:padding>
              <sdf:encoding>ASCII</sdf:encoding>
              <sdf:length>1</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 14: Cycle number -->
      <xs:element name="CYCLE">
        <xs:annotation>
          <xs:documentation xml:lang="en">Cycle</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:padding type="header">6</sdf:padding>
              <sdf:padding type="footer">1</sdf:padding>
              <sdf:encoding>ASCII</sdf:encoding>
              <sdf:length>4</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
		<xs:simpleType>
		   <xs:restriction base="xs:short">
			  <xs:minInclusive value="-999"/>
			  <xs:maxInclusive value="+999"/>
			  <xs:pattern value="\+[0-9]{3}"/>
		   </xs:restriction>
		</xs:simpleType>
      </xs:element>
      <!-- Field 15: Relative orbit number -->
      <xs:element name="REL_ORBIT">
        <xs:annotation>
          <xs:documentation xml:lang="en">Start relative orbit number</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:padding type="header">10</sdf:padding>
              <sdf:padding type="footer">1</sdf:padding>
              <sdf:encoding>ASCII</sdf:encoding>
              <sdf:length>6</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
		<xs:simpleType>
		   <xs:restriction base="xs:int">
			  <xs:minInclusive value="-99999"/>
			  <xs:maxInclusive value="+99999"/>
			  <xs:pattern value="\+[0-9]{5}"/>
		   </xs:restriction>
		</xs:simpleType>
      </xs:element>
      <!-- Field 16: Absolute orbit number -->
      <xs:element name="ABS_ORBIT">
        <xs:annotation>
          <xs:documentation xml:lang="en">Start absolute orbit number</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:padding type="header">10</sdf:padding>
              <sdf:padding type="footer">1</sdf:padding>
              <sdf:encoding>ASCII</sdf:encoding>
              <sdf:length>6</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
		<xs:simpleType>
		   <xs:restriction base="xs:int">
			  <xs:minInclusive value="-99999"/>
			  <xs:maxInclusive value="+99999"/>
			  <xs:pattern value="\+[0-9]{5}"/>
		   </xs:restriction>
		</xs:simpleType>
      </xs:element>
      <!-- Field 17: State vector time -->
      <xs:element name="STATE_VECTOR_TIME" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="en">UTC state vector time</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:padding type="header">19</sdf:padding>
              <sdf:padding type="footer">2</sdf:padding>
              <sdf:encoding>ASCII</sdf:encoding>
              <sdf:length>27</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 18: Delta UT1 -->
      <xs:element name="DELTA_UT1" type="xs:double">
        <xs:annotation>
          <xs:documentation xml:lang="en">DUT1=UT1-UTC</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:padding type="header">10</sdf:padding>
              <sdf:padding type="footer">4</sdf:padding>
              <sdf:encoding>ASCII</sdf:encoding>
              <sdf:length>8</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 19: X_POSITION -->
      <xs:element name="X_POSITION" type="xs:double">
        <xs:annotation>
          <xs:documentation xml:lang="en">X Position in Earth-Fixed reference</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:padding type="header">11</sdf:padding>
              <sdf:padding type="footer">4</sdf:padding>
              <sdf:encoding>ASCII</sdf:encoding>
              <sdf:length>12</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 20: Y_POSITION -->
      <xs:element name="Y_POSITION" type="xs:double">
        <xs:annotation>
          <xs:documentation xml:lang="en">Y Position in Earth-Fixed reference</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:padding type="header">11</sdf:padding>
              <sdf:padding type="footer">4</sdf:padding>
              <sdf:encoding>ASCII</sdf:encoding>
              <sdf:length>12</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 21: Z_POSITION -->
      <xs:element name="Z_POSITION" type="xs:double">
        <xs:annotation>
          <xs:documentation xml:lang="en">Z Position in Earth-Fixed reference</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:padding type="header">11</sdf:padding>
              <sdf:padding type="footer">4</sdf:padding>
              <sdf:encoding>ASCII</sdf:encoding>
              <sdf:length>12</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 22: X_VELOCITY -->
      <xs:element name="X_VELOCITY" type="xs:double">
        <xs:annotation>
          <xs:documentation xml:lang="en">X velocity in Earth fixed reference</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:padding type="header">11</sdf:padding>
              <sdf:padding type="footer">6</sdf:padding>
              <sdf:encoding>ASCII</sdf:encoding>
              <sdf:length>12</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 23: Y_VELOCITY -->
      <xs:element name="Y_VELOCITY" type="xs:double">
        <xs:annotation>
          <xs:documentation xml:lang="en">Y velocity in Earth fixed reference</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:padding type="header">11</sdf:padding>
              <sdf:padding type="footer">6</sdf:padding>
              <sdf:encoding>ASCII</sdf:encoding>
              <sdf:length>12</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 24: Z_VELOCITY -->
      <xs:element name="Z_VELOCITY" type="xs:double">
        <xs:annotation>
          <xs:documentation xml:lang="en">Z velocity in Earth fixed reference</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:padding type="header">11</sdf:padding>
              <sdf:padding type="footer">6</sdf:padding>
              <sdf:encoding>ASCII</sdf:encoding>
              <sdf:length>12</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 25: Vector Source -->
      <xs:element name="VECTOR_SOURCE" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="en">Source of Orbit Vectors</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:padding type="header">15</sdf:padding>
              <sdf:padding type="footer">2</sdf:padding>
              <sdf:encoding>ASCII</sdf:encoding>
              <sdf:length>2</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 26: Spare -->
      <!-- Field 27: UTC_SBT_TIME -->
      <xs:element name="UTC_SBT_TIME" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="en">UTC time corresponding to SBT below</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:padding type="header">55</sdf:padding>
              <sdf:padding type="footer">2</sdf:padding>
              <sdf:encoding>ASCII</sdf:encoding>
              <sdf:length>27</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 28: SAT_BINARY_TIME -->
      <xs:element name="SAT_BINARY_TIME" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="en">Satellite Binary Time (SBT)</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:padding type="header">16</sdf:padding>
              <sdf:padding type="footer">1</sdf:padding>
              <sdf:encoding>ASCII</sdf:encoding>
              <sdf:length>11</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 29: CLOCK_STEP -->
      <xs:element name="CLOCK_STEP" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="en">Clock Step Size</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:padding type="header">11</sdf:padding>
              <sdf:padding type="footer">5</sdf:padding>
              <sdf:encoding>ASCII</sdf:encoding>
              <sdf:length>11</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 30: Spare -->
      <!-- Field 31: Leap second time -->
      <xs:element name="LEAP_UTC" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="en">UTC time of the occurrence of the Leap Second</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:padding type="header">43</sdf:padding>
              <sdf:padding type="footer">2</sdf:padding>
              <sdf:encoding>ASCII</sdf:encoding>
              <sdf:length>27</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 32: Leap second sign -->
      <xs:element name="LEAP_SIGN">
        <xs:annotation>
          <xs:documentation xml:lang="en">Leap second sign</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:padding type="header">10</sdf:padding>
              <sdf:padding type="footer">1</sdf:padding>
              <sdf:encoding>ASCII</sdf:encoding>
              <sdf:length>4</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
		<xs:simpleType>
		   <xs:restriction base="xs:short">
			  <xs:minInclusive value="-1"/>
			  <xs:maxInclusive value="+1"/>
			  <xs:pattern value="\+[0-9]{3}"/>
		   </xs:restriction>
		</xs:simpleType>
      </xs:element>
      <!-- Field 33: Leap second error -->
      <xs:element name="LEAP_ERR" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="en">Leap second error</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:padding type="header">9</sdf:padding>
              <sdf:padding type="footer">1</sdf:padding>
              <sdf:encoding>ASCII</sdf:encoding>
              <sdf:length>1</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 34: Spare -->
      <!-- Field 35: Product error -->
      <xs:element name="PRODUCT_ERR" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="en">1 or 0. If 1, errors have been reported in the product. User should then refer to the SPH or Summary Quality ADS of the product for details of the error condition. If not used, set to 0.r</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:padding type="header">53</sdf:padding>
              <sdf:padding type="footer">1</sdf:padding>
              <sdf:encoding>ASCII</sdf:encoding>
              <sdf:length>1</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 36: Product total size -->
      <xs:element name="TOT_SIZE">
        <xs:annotation>
          <xs:documentation xml:lang="en">Total Size Of Product</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:padding type="header">9</sdf:padding>
              <sdf:padding type="footer">8</sdf:padding>
              <sdf:encoding>ASCII</sdf:encoding>
              <sdf:length>21</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
			  <xs:fractionDigits value="0"/>
			  <xs:minInclusive value="-99999999999999999999"/>
			  <xs:maxInclusive value="+99999999999999999999"/>
			  <xs:minExclusive value="0"/>
			</xs:restriction>
		</xs:simpleType>
      </xs:element>
      <!-- Field 37: Length of SPH -->
      <xs:element name="SPH_SIZE">
        <xs:annotation>
          <xs:documentation xml:lang="en">Length Of SPH</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:padding type="header">9</sdf:padding>
              <sdf:padding type="footer">8</sdf:padding>
              <sdf:encoding>ASCII</sdf:encoding>
              <sdf:length>11</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:long">
			  <xs:minInclusive value="-9999999999"/>
			  <xs:maxInclusive value="+9999999999"/>
			  <xs:minExclusive value="0"/>
			</xs:restriction>
		</xs:simpleType>
      </xs:element>
      <!-- Field 38: Number of DSDs -->
      <xs:element name="NUM_DSD">
        <xs:annotation>
          <xs:documentation xml:lang="en">Number of DSDs</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:padding type="header">8</sdf:padding>
              <sdf:padding type="footer">1</sdf:padding>
              <sdf:encoding>ASCII</sdf:encoding>
              <sdf:length>11</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:long">
			  <xs:minInclusive value="-9999999999"/>
			  <xs:maxInclusive value="+9999999999"/>
			  <xs:minExclusive value="0"/>
			  <xs:pattern value="\+[0-9]{10}"/>
			</xs:restriction>
		</xs:simpleType>
      </xs:element>
      <!-- Field 39: Size of DSD -->
      <xs:element name="DSD_SIZE">
        <xs:annotation>
          <xs:documentation xml:lang="en">Length of Each DSD</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:padding type="header">9</sdf:padding>
              <sdf:padding type="footer">8</sdf:padding>
              <sdf:encoding>ASCII</sdf:encoding>
              <sdf:length>11</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:long">
			  <xs:minInclusive value="-9999999999"/>
			  <xs:maxInclusive value="+9999999999"/>
			  <xs:minExclusive value="0"/>
			</xs:restriction>
		</xs:simpleType>
      </xs:element>
      <!-- Field 40: Number of DSs -->
      <xs:element name="NUM_DATA_SETS">
        <xs:annotation>
          <xs:documentation xml:lang="en">Number of DSs attached</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:padding type="header">14</sdf:padding>
              <sdf:padding type="footer">1</sdf:padding>
              <sdf:encoding>ASCII</sdf:encoding>
              <sdf:length>11</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:long">
			  <xs:minInclusive value="-9999999999"/>
			  <xs:maxInclusive value="+9999999999"/>
			  <xs:minExclusive value="0"/>
			  <xs:pattern value="\+[0-9]{10}"/>
			</xs:restriction>
		</xs:simpleType>
      </xs:element>
      <!-- Field 41: CRC -->
      <xs:element name="CRC">
        <xs:annotation>
          <xs:documentation xml:lang="en">Cyclic redundancy code computed as overall value of all records of the measurement dataset. If not computed it shall be set to -00001</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:padding type="header">4</sdf:padding>
              <sdf:padding type="footer">31</sdf:padding>
              <sdf:encoding>ASCII</sdf:encoding>
              <sdf:length>6</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
		<xs:simpleType>
		   <xs:restriction base="xs:int">
			  <xs:minInclusive value="-99999"/>
			  <xs:maxInclusive value="+99999"/>
			  <xs:pattern value="\+[0-9]{5}"/>
		   </xs:restriction>
		</xs:simpleType>
      </xs:element>
      <!-- Field 42: Spare -->
    </xs:sequence>
  </xs:complexType>
  <!-- ========================================= -->
  <!--         SPECIFIC PRODUCT HEADER           -->
  <!--                SIR_FDM_2                  -->
  <!-- ========================================= -->
  <xs:complexType name="SPH_TYPE">
    <xs:annotation>
      <xs:documentation xml:lang="en">SPH</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <!-- Field 1: SPH Descriptor-->
      <xs:element name="SPH_DESCRIPTOR" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="en">SPH Descriptor</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:padding type="header">16</sdf:padding>
              <sdf:padding type="footer">2</sdf:padding>
              <sdf:encoding>ASCII</sdf:encoding>
              <sdf:length>28</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 2: Start time-->
      <xs:element name="START_RECORD_TAI_TIME" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="en">TAI time of the first record in the main measurement dataset (MDS) of this product</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:padding type="header">23</sdf:padding>
              <sdf:padding type="footer">2</sdf:padding>
              <sdf:encoding>ASCII</sdf:encoding>
              <sdf:length>27</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 3: Stop time-->
      <xs:element name="STOP_RECORD_TAI_TIME" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="en">TAI time of the last record in the main measurement dataset (MDS) of this product</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:padding type="header">22</sdf:padding>
              <sdf:padding type="footer">2</sdf:padding>
              <sdf:encoding>ASCII</sdf:encoding>
              <sdf:length>27</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 4: Abs. Orbit Start-->
      <xs:element name="ABS_ORBIT_START">
        <xs:annotation>
          <xs:documentation xml:lang="en">Absolute orbit number at product start time</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:padding type="header">16</sdf:padding>
              <sdf:padding type="footer">1</sdf:padding>
              <sdf:encoding>ASCII</sdf:encoding>
              <sdf:length>6</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
		<xs:simpleType>
		   <xs:restriction base="xs:unsignedLong">
			  <xs:pattern value="\[0-9]{6}"/>
		   </xs:restriction>
		</xs:simpleType>
      </xs:element>
      <!-- Field 5: REL_TIME_ASC_NODE_START-->
      <xs:element name="REL_TIME_ASC_NODE_START" type="xs:double">
        <xs:annotation>
          <xs:documentation xml:lang="en">Time since crossing the ascending node relative to the start time of the data sensing</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:padding type="header">24</sdf:padding>
              <sdf:padding type="footer">4</sdf:padding>
              <sdf:encoding>ASCII</sdf:encoding>
              <sdf:length>11</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 6: Abs. Orbit Stop-->
      <xs:element name="ABS_ORBIT_STOP">
        <xs:annotation>
          <xs:documentation xml:lang="en">Absolute orbit number at product start time</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:padding type="header">15</sdf:padding>
              <sdf:padding type="footer">1</sdf:padding>
              <sdf:encoding>ASCII</sdf:encoding>
              <sdf:length>6</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
		<xs:simpleType>
		   <xs:restriction base="xs:unsignedLong">
			  <xs:pattern value="\[0-9]{6}"/>
		   </xs:restriction>
		</xs:simpleType>
      </xs:element>
      <!-- Field 7: REL_TIME_ASC_NODE_STOP-->
      <xs:element name="REL_TIME_ASC_NODE_STOP" type="xs:double">
        <xs:annotation>
          <xs:documentation xml:lang="en">Time since crossing the ascending node relative to the stop time of the data sensing</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:padding type="header">23</sdf:padding>
              <sdf:padding type="footer">4</sdf:padding>
              <sdf:encoding>ASCII</sdf:encoding>
              <sdf:length>11</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 8: Equator Cross Time UTC-->
      <xs:element name="EQUATOR_CROSS_TIME_UTC" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="en">Time of equator crossing at the ascending node of the sensing start time</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:padding type="header">24</sdf:padding>
              <sdf:padding type="footer">2</sdf:padding>
              <sdf:encoding>ASCII</sdf:encoding>
              <sdf:length>27</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 9: Equator Cross Long-->
      <xs:element name="EQUATOR_CROSS_LONG">
        <xs:annotation>
          <xs:documentation xml:lang="en">Longitude of equator crossing at the ascending node of the sensing start time (positive East, 0 = Greenwich) referred to WGS84</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:padding type="header">19</sdf:padding>
              <sdf:padding type="footer">11</sdf:padding>
              <sdf:encoding>ASCII</sdf:encoding>
              <sdf:length>11</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:long">
			  <xs:minInclusive value="-9999999999"/>
			  <xs:maxInclusive value="+9999999999"/>
			  <xs:minExclusive value="0"/>
			  <xs:pattern value="\+[0-9]{10}"/>
			</xs:restriction>
		</xs:simpleType>
      </xs:element>
      <!-- Field 10: Ascending Flag -->
      <xs:element name="ASCENDING_FLAG" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="en">Orbit orientation at sensing start time</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:padding type="header">15</sdf:padding>
              <sdf:padding type="footer">1</sdf:padding>
              <sdf:encoding>ASCII</sdf:encoding>
              <sdf:length>1</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 11: Start Lat -->
      <xs:element name="START_LAT">
        <xs:annotation>
          <xs:documentation xml:lang="en">WGS84 latitude of the first record in the main measurement dataset (MDS) (positive north)</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:padding type="header">10</sdf:padding>
              <sdf:padding type="footer">11</sdf:padding>
              <sdf:encoding>ASCII</sdf:encoding>
              <sdf:length>11</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:long">
			  <xs:minInclusive value="-9999999999"/>
			  <xs:maxInclusive value="+9999999999"/>
			  <xs:minExclusive value="0"/>
			  <xs:pattern value="\+[0-9]{10}"/>
			</xs:restriction>
		</xs:simpleType>
      </xs:element>
      <!-- Field 12: Start Long -->
      <xs:element name="START_LONG">
        <xs:annotation>
          <xs:documentation xml:lang="en">WGS84 longitude of the first record in the main measurement dataset (MDS) (positive East, 0 = Greenwich)</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:padding type="header">11</sdf:padding>
              <sdf:padding type="footer">11</sdf:padding>
              <sdf:encoding>ASCII</sdf:encoding>
              <sdf:length>11</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:long">
			  <xs:minInclusive value="-9999999999"/>
			  <xs:maxInclusive value="+9999999999"/>
			  <xs:minExclusive value="0"/>
			  <xs:pattern value="\+[0-9]{10}"/>
			</xs:restriction>
		</xs:simpleType>
      </xs:element>
      <!-- Field 13: Stop Lat -->
      <xs:element name="STOP_LAT">
        <xs:annotation>
          <xs:documentation xml:lang="en">WGS84 latitude of the last record in the main measurement dataset (MDS) (positive north)</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:padding type="header">9</sdf:padding>
              <sdf:padding type="footer">11</sdf:padding>
              <sdf:encoding>ASCII</sdf:encoding>
              <sdf:length>11</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:long">
			  <xs:minInclusive value="-9999999999"/>
			  <xs:maxInclusive value="+9999999999"/>
			  <xs:minExclusive value="0"/>
			  <xs:pattern value="\+[0-9]{10}"/>
			</xs:restriction>
		</xs:simpleType>
      </xs:element>
      <!-- Field 14: Stop Long -->
      <xs:element name="STOP_LONG">
        <xs:annotation>
          <xs:documentation xml:lang="en">WGS84 longitude of the last record in the main measurement dataset (MDS) (positive East, 0 = Greenwich)</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:padding type="header">10</sdf:padding>
              <sdf:padding type="footer">62</sdf:padding>
              <sdf:encoding>ASCII</sdf:encoding>
              <sdf:length>11</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:long">
			  <xs:minInclusive value="-9999999999"/>
			  <xs:maxInclusive value="+9999999999"/>
			  <xs:minExclusive value="0"/>
			  <xs:pattern value="\+[0-9]{10}"/>
			</xs:restriction>
		</xs:simpleType>
      </xs:element>
      <!-- Field 15: Spare -->
      <!-- Field 16: L1 Proc. Flag -->
      <xs:element name="L1_PROC_FLAG" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="en">Processing errors significance flag (1 or 0). 1 if the percentage of L1B records free of processing errors is less than the acceptable threshold</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:padding type="header">13</sdf:padding>
              <sdf:padding type="footer">1</sdf:padding>
              <sdf:encoding>ASCII</sdf:encoding>
              <sdf:length>1</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 17: L1 Proc. Quality -->
      <xs:element name="L1_PROCESSING_QUALITY">
        <xs:annotation>
          <xs:documentation xml:lang="en">Percentage of quality checks successfully passed during the L1B processing (max allowed +10000)</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:padding type="header">22</sdf:padding>
              <sdf:padding type="footer">8</sdf:padding>
              <sdf:encoding>ASCII</sdf:encoding>
              <sdf:length>6</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
		<xs:simpleType>
		   <xs:restriction base="xs:int">
			  <xs:minInclusive value="-99999"/>
			  <xs:maxInclusive value="+99999"/>
			  <xs:pattern value="\+[0-9]{5}"/>
		   </xs:restriction>
		</xs:simpleType>
      </xs:element>
      <!-- Field 18: L1 Proc. Thresh. -->
      <xs:element name="L1_PROC_THRESH">
        <xs:annotation>
          <xs:documentation xml:lang="en">Minimum acceptable percentage of quality threshold that must be passed during L1B processing (max allowed +10000)</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:padding type="header">15</sdf:padding>
              <sdf:padding type="footer">8</sdf:padding>
              <sdf:encoding>ASCII</sdf:encoding>
              <sdf:length>6</sdf:length> <!-- !!!! THIS IS 6, NOT 11 AS STATED IN THE CRYOSAT HANDBOOK !!!! -->
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
		<xs:simpleType>
		   <xs:restriction base="xs:int">
			  <xs:minInclusive value="-99999"/>
			  <xs:maxInclusive value="+99999"/>
			  <xs:pattern value="\+[0-9]{5}"/>
		   </xs:restriction>
		</xs:simpleType>
      </xs:element>
      <!-- Field 19: NUM_L1_DSR_PROC -->
      <xs:element name="NUM_L1_DSR_PROC">
        <xs:annotation>
          <xs:documentation xml:lang="en">Number of L1B dataset records processed</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:padding type="header">16</sdf:padding>
              <sdf:padding type="footer">39</sdf:padding>
              <sdf:encoding>ASCII</sdf:encoding>
              <sdf:length>11</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:long">
			  <xs:minInclusive value="-9999999999"/>
			  <xs:maxInclusive value="+9999999999"/>
			  <xs:minExclusive value="0"/>
			  <xs:pattern value="\+[0-9]{10}"/>
			</xs:restriction>
		</xs:simpleType>
      </xs:element>
      <!-- Field 20: Spare -->
      <!-- Field 21: SIRAL Instrument Configuration -->
      <xs:element name="INSTR_ID" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="en">Instrument identifier. A = SIRAL Nominal, B = SIRAL Redundant</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:padding type="header">10</sdf:padding>
              <sdf:padding type="footer">2</sdf:padding>
              <sdf:encoding>ASCII</sdf:encoding>
              <sdf:length>1</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 22: LRM Mode Percent. -->
      <xs:element name="LRM_MODE_PERCENT">
        <xs:annotation>
          <xs:documentation xml:lang="en">Percentage of input L1B records detected in LRM mode</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:padding type="header">17</sdf:padding>
              <sdf:padding type="footer">8</sdf:padding>
              <sdf:encoding>ASCII</sdf:encoding>
              <sdf:length>6</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
		<xs:simpleType>
		   <xs:restriction base="xs:int">
			  <xs:minInclusive value="-99999"/>
			  <xs:maxInclusive value="+99999"/>
			  <xs:pattern value="\+[0-9]{5}"/>
		   </xs:restriction>
		</xs:simpleType>
      </xs:element>
      <!-- Field 23: SAR Mode Percent. -->
      <xs:element name="SAR_MODE_PERCENT">
        <xs:annotation>
          <xs:documentation xml:lang="en">Percentage of input L1B records detected in SAR mode</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:padding type="header">17</sdf:padding>
              <sdf:padding type="footer">8</sdf:padding>
              <sdf:encoding>ASCII</sdf:encoding>
              <sdf:length>6</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
		<xs:simpleType>
		   <xs:restriction base="xs:int">
			  <xs:minInclusive value="-99999"/>
			  <xs:maxInclusive value="+99999"/>
			  <xs:pattern value="\+[0-9]{5}"/>
		   </xs:restriction>
		</xs:simpleType>
      </xs:element>
      <!-- Field 24: SARIN Mode Percent. -->
      <xs:element name="SARIN_MODE_PERCENT">
        <xs:annotation>
          <xs:documentation xml:lang="en">Percentage of input L1B records detected in SIN mode</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:padding type="header">19</sdf:padding>
              <sdf:padding type="footer">8</sdf:padding>
              <sdf:encoding>ASCII</sdf:encoding>
              <sdf:length>6</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
		<xs:simpleType>
		   <xs:restriction base="xs:int">
			  <xs:minInclusive value="-99999"/>
			  <xs:maxInclusive value="+99999"/>
			  <xs:pattern value="\+[0-9]{5}"/>
		   </xs:restriction>
		</xs:simpleType>
      </xs:element>
      <!-- Field 25: Other Modes Percent. -->
      <xs:element name="OTHER_MODES_PERCENT">
        <xs:annotation>
          <xs:documentation xml:lang="en">Percentage of input L1B records detected in any other mode</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:padding type="header">20</sdf:padding>
              <sdf:padding type="footer">59</sdf:padding>
              <sdf:encoding>ASCII</sdf:encoding>
              <sdf:length>6</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
		<xs:simpleType>
		   <xs:restriction base="xs:int">
			  <xs:minInclusive value="-99999"/>
			  <xs:maxInclusive value="+99999"/>
			  <xs:pattern value="\+[0-9]{5}"/>
		   </xs:restriction>
		</xs:simpleType>
      </xs:element>
      <!-- Field 26: Spare -->
      <!-- Field 27: Open Ocean Percent. -->
      <xs:element name="OPEN_OCEAN_PERCENT">
        <xs:annotation>
          <xs:documentation xml:lang="en">Percentage of records detected on open ocean or semi-enclosed seas</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:padding type="header">19</sdf:padding>
              <sdf:padding type="footer">8</sdf:padding>
              <sdf:encoding>ASCII</sdf:encoding>
              <sdf:length>6</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
		<xs:simpleType>
		   <xs:restriction base="xs:int">
			  <xs:minInclusive value="-99999"/>
			  <xs:maxInclusive value="+99999"/>
			  <xs:pattern value="\+[0-9]{5}"/>
		   </xs:restriction>
		</xs:simpleType>
      </xs:element>
      <!-- Field 28: Close Sea Percent. -->
      <xs:element name="CLOSE_SEA_PERCENT">
        <xs:annotation>
          <xs:documentation xml:lang="en">Percentage of records detected on closed seas or lakes</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:padding type="header">18</sdf:padding>
              <sdf:padding type="footer">8</sdf:padding>
              <sdf:encoding>ASCII</sdf:encoding>
              <sdf:length>6</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
		<xs:simpleType>
		   <xs:restriction base="xs:int">
			  <xs:minInclusive value="-99999"/>
			  <xs:maxInclusive value="+99999"/>
			  <xs:pattern value="\+[0-9]{5}"/>
		   </xs:restriction>
		</xs:simpleType>
      </xs:element>
      <!-- Field 29: Continent Ice Percent. -->
      <xs:element name="CONTINENT_ICE_PERCENT">
        <xs:annotation>
          <xs:documentation xml:lang="en">Percentage of records detected on continental ice</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:padding type="header">22</sdf:padding>
              <sdf:padding type="footer">8</sdf:padding>
              <sdf:encoding>ASCII</sdf:encoding>
              <sdf:length>6</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
		<xs:simpleType>
		   <xs:restriction base="xs:int">
			  <xs:minInclusive value="-99999"/>
			  <xs:maxInclusive value="+99999"/>
			  <xs:pattern value="\+[0-9]{5}"/>
		   </xs:restriction>
		</xs:simpleType>
      </xs:element>
      <!-- Field 30: Land Percent. -->
      <xs:element name="LAND_PERCENT">
        <xs:annotation>
          <xs:documentation xml:lang="en">Percentage of records detected on land</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:padding type="header">13</sdf:padding>
              <sdf:padding type="footer">59</sdf:padding>
              <sdf:encoding>ASCII</sdf:encoding>
              <sdf:length>6</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
		<xs:simpleType>
		   <xs:restriction base="xs:int">
			  <xs:minInclusive value="-99999"/>
			  <xs:maxInclusive value="+99999"/>
			  <xs:pattern value="\+[0-9]{5}"/>
		   </xs:restriction>
		</xs:simpleType>
      </xs:element>
      <!-- Field 31: Spare -->
      <!-- Field 32: L2_PROD_STATUS -->
      <xs:element name="L2_PROD_STATUS" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="en">Complete/Incomplete product completion flag (0 or 1). 1 if the level 2 product has a duration shorter than the input level 1 product</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:padding type="header">15</sdf:padding>
              <sdf:padding type="footer">1</sdf:padding>
              <sdf:encoding>ASCII</sdf:encoding>
              <sdf:length>1</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 33: L2_PROC_FLAG -->
      <xs:element name="L2_PROC_FLAG" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="en">Processing errors significance flag (1 or 0). 1 if the percentage of dataset records (DSR) free of processing errors is less than the acceptable threshold</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:padding type="header">13</sdf:padding>
              <sdf:padding type="footer">1</sdf:padding>
              <sdf:encoding>ASCII</sdf:encoding>
              <sdf:length>1</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 34: L2_PROCESSING_QUALITY -->
      <xs:element name="L2_PROCESSING_QUALITY">
        <xs:annotation>
          <xs:documentation xml:lang="en">Percentage of quality checks successfully passed during level 1b processing (max allowed +10000)</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:padding type="header">22</sdf:padding>
              <sdf:padding type="footer">8</sdf:padding>
              <sdf:encoding>ASCII</sdf:encoding>
              <sdf:length>6</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
		<xs:simpleType>
		   <xs:restriction base="xs:int">
			  <xs:minInclusive value="-99999"/>
			  <xs:maxInclusive value="+99999"/>
			  <xs:pattern value="\+[0-9]{5}"/>
		   </xs:restriction>
		</xs:simpleType>
      </xs:element>
      <!-- Field 35: L2_PROC_THRESH -->
      <xs:element name="L2_PROC_THRESH">
        <xs:annotation>
          <xs:documentation xml:lang="en">Minimum acceptable percentage of quality threshold that must be passed during level 1b processing (max allowed +10000)</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:padding type="header">15</sdf:padding>
              <sdf:padding type="footer">59</sdf:padding>
              <sdf:encoding>ASCII</sdf:encoding>
              <sdf:length>6</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
		<xs:simpleType>
		   <xs:restriction base="xs:int">
			  <xs:minInclusive value="-99999"/>
			  <xs:maxInclusive value="+99999"/>
			  <xs:pattern value="\+[0-9]{5}"/>
		   </xs:restriction>
		</xs:simpleType>
      </xs:element>
      <!-- Field 36: Spare -->
    </xs:sequence>
  </xs:complexType>
  <!-- ========================================= -->
  <!--        DATASET DESCRIPTION HEADER         -->
  <!--                SIR_FDM_2                  -->
  <!-- ========================================= -->
  <xs:complexType name="DSD_HEADER_TYPE">
    <xs:annotation>
      <xs:documentation xml:lang="en">DSD HEADER</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <!-- Field 1: DS Name-->
      <xs:element name="DS_NAME" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="en">Name describing the dataset.</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:padding type="header">9</sdf:padding>
              <sdf:padding type="footer">2</sdf:padding>
              <sdf:encoding>ASCII</sdf:encoding>
              <sdf:length>28</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>  
      <!-- Field 2: DS Type-->
      <xs:element name="DS_TYPE" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="en">Type of dataset. It can be M = Measurement, R = Reference</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:padding type="header">8</sdf:padding>
              <sdf:padding type="footer">1</sdf:padding>
              <sdf:encoding>ASCII</sdf:encoding>
              <sdf:length>1</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>  
      <!-- Field 3: External File Name -->
      <xs:element name="FILENAME" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="en">Name of the reference file. Used if DS_TYPE is set to R. It is left justified with trailing blanks. The file name includes the extension. If not used it is set to 62 blanks</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:padding type="header">10</sdf:padding>
              <sdf:padding type="footer">2</sdf:padding>
              <sdf:encoding>ASCII</sdf:encoding>
              <sdf:length>62</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>  
      <!-- Field 4: DS Offset-->
      <xs:element name="DS_OFFSET" type="xs:unsignedLong">
        <xs:annotation>
          <xs:documentation xml:lang="en">Length in bytes of MPH + SPH (including DSDs) + size of previous datasets (if any)</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:padding type="header">10</sdf:padding>
              <sdf:padding type="footer">8</sdf:padding>
              <sdf:encoding>ASCII</sdf:encoding>
              <sdf:length>21</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>  
      <!-- Field 5: DS Size-->
      <xs:element name="DS_SIZE" type="xs:unsignedLong">
        <xs:annotation>
          <xs:documentation xml:lang="en">Length in bytes of the attached dataset. Used if DS_TYPE is set to M. If not used set to 0</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:padding type="header">8</sdf:padding>
              <sdf:padding type="footer">8</sdf:padding>
              <sdf:encoding>ASCII</sdf:encoding>
              <sdf:length>21</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>  
      <!-- Field 6: Number of DSRs -->
      <xs:element name="NUM_DSR" type="xs:unsignedLong">
        <xs:annotation>
          <xs:documentation xml:lang="en">Number of dataset records</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:padding type="header">8</sdf:padding>
              <sdf:padding type="footer">1</sdf:padding>
              <sdf:encoding>ASCII</sdf:encoding>
              <sdf:length>11</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>  
      <!-- Field 7: Length of DSRs -->
      <xs:element name="DSR_SIZE" type="xs:integer">
        <xs:annotation>
          <xs:documentation xml:lang="en">Length in bytes of the dataset record. If not used set to +0. If variable set to -1</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:padding type="header">9</sdf:padding>
              <sdf:padding type="footer">41</sdf:padding>
              <sdf:encoding>ASCII</sdf:encoding>
              <sdf:length>11</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>  
      <!-- Field 8: Spare -->
    </xs:sequence>
  </xs:complexType>
  <!-- ========================================= -->
  <!--     CRYOSAT SIR_FDM_2.DBL RECORD          -->
  <!-- ========================================= -->
  <xs:complexType name="DBL_TYPE_RECORD">
    <xs:annotation>
      <xs:documentation xml:lang="en">DBL_TYPE_RECORD</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <!-- Field 1: Data Record Time-->
      <xs:element name="Data_Record_Time_Day" type="xs:int">
        <xs:annotation>
          <xs:documentation xml:lang="en">Data Record Time (MDSR Time Stamp): Day</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:encoding>BINARY</sdf:encoding>
              <sdf:length>4</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="Data_Record_Time_Second" type="xs:unsignedInt">
        <xs:annotation>
          <xs:documentation xml:lang="en">Data Record Time (MDSR Time Stamp): Second of day</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:encoding>BINARY</sdf:encoding>
              <sdf:length>4</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="Data_Record_Time_Microsecond" type="xs:unsignedInt">
        <xs:annotation>
          <xs:documentation xml:lang="en">Data Record Time (MDSR Time Stamp): Microsecond part</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:encoding>BINARY</sdf:encoding>
              <sdf:length>4</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 2: 20-Hz Time differences [0..19]  -->
      <xs:element name="20_Hz_Time_Difference">
        <xs:annotation>
          <xs:documentation xml:lang="en">20-Hz Time differences [0..19]</xs:documentation>
          <xs:appinfo>
            <sdf:block>
				<sdf:array>
				  <sdf:length>4</sdf:length>
				  <sdf:occurrence>20</sdf:occurrence>
				</sdf:array>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
        <xs:simpleType>
			<xs:list itemType="xs:int"/>
		</xs:simpleType>
      </xs:element>
      <!-- Field 3: Latitude of measurement -->
      <xs:element name="Latitude" type="xs:int">
        <xs:annotation>
          <xs:documentation xml:lang="en">Latitude of measurement [1e-7 deg]</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:encoding>BINARY</sdf:encoding>
              <sdf:length>4</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 4: 20-Hz Latitudes [0..19] -->
      <xs:element name="20_Hz_Latitude">
        <xs:annotation>
          <xs:documentation xml:lang="en">20-Hz Latitudes [0..19]</xs:documentation>
          <xs:appinfo>
            <sdf:block>
				<sdf:array>
				  <sdf:length>4</sdf:length>
				  <sdf:occurrence>20</sdf:occurrence>
				</sdf:array>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
        <xs:simpleType>
			<xs:list itemType="xs:int"/>
		</xs:simpleType>
      </xs:element>
      <!-- Field 5: Longitude of measurement -->
      <xs:element name="Longitude" type="xs:int">
        <xs:annotation>
          <xs:documentation xml:lang="en">Longitude of measurement [1e-7 deg]</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:encoding>BINARY</sdf:encoding>
              <sdf:length>4</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 6: 20-Hz Longitudes [0..19] -->
      <xs:element name="20_Hz_Longitude">
        <xs:annotation>
          <xs:documentation xml:lang="en">20-Hz Longitudes [0..19]</xs:documentation>
          <xs:appinfo>
            <sdf:block>
				<sdf:array>
				  <sdf:length>4</sdf:length>
				  <sdf:occurrence>20</sdf:occurrence>
				</sdf:array>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
        <xs:simpleType>
			<xs:list itemType="xs:int"/>
		</xs:simpleType>
      </xs:element>
      <!-- Field 7: Record counter -->
      <xs:element name="Record_Counter" type="xs:unsignedInt">
        <xs:annotation>
          <xs:documentation xml:lang="en">Record counter</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:encoding>BINARY</sdf:encoding>
              <sdf:length>4</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 8: Measurement confidence flag -->
      <xs:element name="Measurement_Confidence_Flag" type="xs:unsignedInt">
        <xs:annotation>
          <xs:documentation xml:lang="en">Measurement confidence flag</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:encoding>BINARY</sdf:encoding>
              <sdf:length>4</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 9: Altitude of COG above reference ellipsoid -->
      <xs:element name="Altitude_COG" type="xs:int">
        <xs:annotation>
          <xs:documentation xml:lang="en">Altitude of COG above reference ellipsoid [mm]</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:encoding>BINARY</sdf:encoding>
              <sdf:length>4</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 10: 20-Hz Altitudes [0..19] -->
      <xs:element name="20_Hz_Altitude_COG">
        <xs:annotation>
          <xs:documentation xml:lang="en">20-Hz Altitudes of COG above reference ellipsoid [0..19]</xs:documentation>
          <xs:appinfo>
            <sdf:block>
				<sdf:array>
				  <sdf:length>4</sdf:length>
				  <sdf:occurrence>20</sdf:occurrence>
				</sdf:array>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
        <xs:simpleType>
			<xs:list itemType="xs:int"/>
		</xs:simpleType>
      </xs:element>
      <!-- Field 11: Altitude rate derived from orbit -->
      <xs:element name="Altitude_Rate" type="xs:short">
        <xs:annotation>
          <xs:documentation xml:lang="en">Altitude rate derived from orbit [mm/s]</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:encoding>BINARY</sdf:encoding>
              <sdf:length>2</sdf:length> 
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 12: Spare -->
      <xs:element name="Spare" type="xs:unsignedShort">
        <xs:annotation>
          <xs:documentation xml:lang="en">Spare</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:encoding>BINARY</sdf:encoding>
              <sdf:length>2</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 13: Range to ocean surface -->
      <xs:element name="Range_To_Ocean_Surface" type="xs:unsignedInt">
        <xs:annotation>
          <xs:documentation xml:lang="en">Range to ocean surface [mm]</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:encoding>BINARY</sdf:encoding>
              <sdf:length>4</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 14: 20-Hz Ocean Range [0..19] -->
      <xs:element name="20_Hz_Ocean_Range">
        <xs:annotation>
          <xs:documentation xml:lang="en">20-Hz Ocean Ranges [0..19]</xs:documentation>
          <xs:appinfo>
            <sdf:block>
				<sdf:array>
				  <sdf:length>4</sdf:length>
				  <sdf:occurrence>20</sdf:occurrence>
				</sdf:array>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
        <xs:simpleType>
			<xs:list itemType="xs:unsignedInt"/>
		</xs:simpleType>
      </xs:element>
      <!-- Field 15: Standard deviation of 20Hz ocean range -->
      <xs:element name="20_Hz_Ocean_Range_Std" type="xs:unsignedShort">
        <xs:annotation>
          <xs:documentation xml:lang="en">Standard deviation of 20Hz ocean range</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:encoding>BINARY</sdf:encoding>
              <sdf:length>2</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 16: Number of 20Hz valid points for ocean range -->
      <xs:element name="20_Hz_Ocean_Range_Number_Valid_Points" type="xs:unsignedShort">
        <xs:annotation>
          <xs:documentation xml:lang="en">Number of 20Hz valid points for ocean range</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:encoding>BINARY</sdf:encoding>
              <sdf:length>2</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 17: Ocean range average status flags -->
      <xs:element name="Ocean_Range_Average_Status_Flags" type="xs:unsignedInt">
        <xs:annotation>
          <xs:documentation xml:lang="en">Ocean range average status flags</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:encoding>BINARY</sdf:encoding>
              <sdf:length>4</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 18: OCOG Range -->
      <xs:element name="OCOG_Range" type="xs:unsignedInt">
        <xs:annotation>
          <xs:documentation xml:lang="en">OCOG Range [mm]</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:encoding>BINARY</sdf:encoding>
              <sdf:length>4</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 19: 20-Hz OCOG [0..19] -->
      <xs:element name="20_Hz_OCOG_Range">
        <xs:annotation>
          <xs:documentation xml:lang="en">20-Hz OCOG Ranges [0..19]</xs:documentation>
          <xs:appinfo>
            <sdf:block>
				<sdf:array>
				  <sdf:length>4</sdf:length>
				  <sdf:occurrence>20</sdf:occurrence>
				</sdf:array>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
        <xs:simpleType>
			<xs:list itemType="xs:unsignedInt"/>
		</xs:simpleType>
      </xs:element>
      <!-- Field 20: Standard deviation of 20Hz OCOG range -->
      <xs:element name="20_Hz_OCOG_Range_Std" type="xs:unsignedShort">
        <xs:annotation>
          <xs:documentation xml:lang="en">Standard deviation of 20Hz OCOG range</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:encoding>BINARY</sdf:encoding>
              <sdf:length>2</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 21: Number of 20Hz valid points for OCOG range -->
      <xs:element name="20_Hz_OCOG_Range_Number_Valid_Points" type="xs:unsignedShort">
        <xs:annotation>
          <xs:documentation xml:lang="en">Number of 20Hz valid points for OCOG range</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:encoding>BINARY</sdf:encoding>
              <sdf:length>2</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 22: OCOG range average status flags -->
      <xs:element name="OCOG_Range_Average_Status_Flags" type="xs:unsignedInt">
        <xs:annotation>
          <xs:documentation xml:lang="en">OCOG range average status flags</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:encoding>BINARY</sdf:encoding>
              <sdf:length>4</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 23: Doppler correction -->
      <xs:element name="Doppler_Correction" type="xs:short">
        <xs:annotation>
          <xs:documentation xml:lang="en">Doppler correction</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:encoding>BINARY</sdf:encoding>
              <sdf:length>2</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 24: Dry tropospheric correction -->
      <xs:element name="Dry_Tropospheric_Correction" type="xs:short">
        <xs:annotation>
          <xs:documentation xml:lang="en">Dry tropospheric correction</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:encoding>BINARY</sdf:encoding>
              <sdf:length>2</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 25: Wet tropospheric correction -->
      <xs:element name="Wet_Tropospheric_Correction" type="xs:short">
        <xs:annotation>
          <xs:documentation xml:lang="en">Wet tropospheric correction</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:encoding>BINARY</sdf:encoding>
              <sdf:length>2</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 26: Inverse barometer correction (IBC) -->
      <xs:element name="Inverse_Barometer_Correction" type="xs:short">
        <xs:annotation>
          <xs:documentation xml:lang="en">Inverse barometer correction (IBC)</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:encoding>BINARY</sdf:encoding>
              <sdf:length>2</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 27: Dynamic atmospheric correction (DAC) -->
      <xs:element name="Dynamic_Atmospheric_Correction" type="xs:short">
        <xs:annotation>
          <xs:documentation xml:lang="en">Dynamic atmospheric correction (DAC)</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:encoding>BINARY</sdf:encoding>
              <sdf:length>2</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 28: Ionospheric correction -->
      <xs:element name="Ionospheric_Correction" type="xs:short">
        <xs:annotation>
          <xs:documentation xml:lang="en">Ionospheric correction</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:encoding>BINARY</sdf:encoding>
              <sdf:length>2</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 29: Sea state bias correction from EM bias -->
      <xs:element name="Sea_State_Bias" type="xs:short">
        <xs:annotation>
          <xs:documentation xml:lang="en">Sea state bias correction from EM bias</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:encoding>BINARY</sdf:encoding>
              <sdf:length>2</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 30: Spare -->
      <xs:element name="Spare" type="xs:unsignedShort">
        <xs:annotation>
          <xs:documentation xml:lang="en">Spare</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:encoding>BINARY</sdf:encoding>
              <sdf:length>2</sdf:length>
			  <sdf:occurrence>3</sdf:occurrence>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 31: Squared of significant wave height -->
      <xs:element name="Squared_Significant_Wave_Height" type="xs:int">
        <xs:annotation>
          <xs:documentation xml:lang="en">Square of significant wave height[mm*mm]</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:encoding>BINARY</sdf:encoding>
              <sdf:length>4</sdf:length> 
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 32: Significant Wave Height -->
      <xs:element name="Significant_Wave_Height" type="xs:short">
        <xs:annotation>
          <xs:documentation xml:lang="en">Significant Wave Height [mm]</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:encoding>BINARY</sdf:encoding>
              <sdf:length>2</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 33: Spare -->
      <xs:element name="Spare" type="xs:unsignedShort">
        <xs:annotation>
          <xs:documentation xml:lang="en">Spare</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:encoding>BINARY</sdf:encoding>
              <sdf:length>2</sdf:length>
			  <sdf:occurrence>1</sdf:occurrence>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 34: 20-Hz Squared SWH [0..19] -->
      <xs:element name="20_Hz_Squared_SWH">
        <xs:annotation>
          <xs:documentation xml:lang="en">20-Hz Squared SWH [0..19]</xs:documentation>
          <xs:appinfo>
            <sdf:block>
				<sdf:array>
				  <sdf:length>4</sdf:length>
				  <sdf:occurrence>20</sdf:occurrence>
				</sdf:array>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
        <xs:simpleType>
			<xs:list itemType="xs:int"/>
		</xs:simpleType>
      </xs:element>
      <!-- Field 35: Standard deviation of 20-Hz Squared SWH -->
      <xs:element name="20_Hz_Squared_SWH_Std" type="xs:unsignedShort">
        <xs:annotation>
          <xs:documentation xml:lang="en">Standard deviation of 20-Hz Squared SWH</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:encoding>BINARY</sdf:encoding>
              <sdf:length>2</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 36: Number of 20Hz valid points for Squared SWH -->
      <xs:element name="20_Hz_Squared_SWH_Number_Valid_Points" type="xs:unsignedShort">
        <xs:annotation>
          <xs:documentation xml:lang="en">Number of 20Hz valid points for squared SWH</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:encoding>BINARY</sdf:encoding>
              <sdf:length>2</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 37: Squared SWH average status flags -->
      <xs:element name="Squared_SWH_Average_Status_Flags" type="xs:unsignedInt">
        <xs:annotation>
          <xs:documentation xml:lang="en">Squared SWH average status flags</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:encoding>BINARY</sdf:encoding>
              <sdf:length>4</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 38: Spare -->
      <xs:element name="Spare" type="xs:unsignedShort">
        <xs:annotation>
          <xs:documentation xml:lang="en">Spare</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:encoding>BINARY</sdf:encoding>
              <sdf:length>2</sdf:length>
			  <sdf:occurrence>1</sdf:occurrence>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 39: Corrected ocean backscatter coefficient -->
      <xs:element name="Corrected_Ocean_Backscatter_Coefficient" type="xs:short">
        <xs:annotation>
          <xs:documentation xml:lang="en">Corrected ocean backscatter coefficient [dB/100]</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:encoding>BINARY</sdf:encoding>
              <sdf:length>2</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 40: 20-Hz Ocean Backscatter Coefficient [0..19] -->
      <xs:element name="20_Hz_Ocean_Backscatter">
        <xs:annotation>
          <xs:documentation xml:lang="en">20-Hz Ocean Backscatter Coefficient [0..19]</xs:documentation>
          <xs:appinfo>
            <sdf:block>
				<sdf:array>
				  <sdf:length>2</sdf:length>
				  <sdf:occurrence>20</sdf:occurrence>
				</sdf:array>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
        <xs:simpleType>
			<xs:list itemType="xs:short"/>
		</xs:simpleType>
      </xs:element>
      <!-- Field 41: Standard deviation of Ocean Backscatter Coefficient -->
      <xs:element name="20_Hz_Ocean_Backscatter_Std" type="xs:unsignedShort">
        <xs:annotation>
          <xs:documentation xml:lang="en">Standard deviation of Ocean Backscatter Coefficient</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:encoding>BINARY</sdf:encoding>
              <sdf:length>2</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 42: Number of 20Hz valid points for Ocean Backscatter Coefficient -->
      <xs:element name="20_Hz_Ocean_Backscatter_Number_Valid_Points" type="xs:unsignedShort">
        <xs:annotation>
          <xs:documentation xml:lang="en">Number of 20Hz valid points for Ocean Backscatter Coefficient</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:encoding>BINARY</sdf:encoding>
              <sdf:length>2</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 43: Ocean Backscatter Coefficient average status flags -->
      <xs:element name="Ocean_Backscatter_Average_Status_Flags" type="xs:unsignedInt">
        <xs:annotation>
          <xs:documentation xml:lang="en">Ocean Backscatter Coefficient average status flags</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:encoding>BINARY</sdf:encoding>
              <sdf:length>4</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 44: Spare -->
      <xs:element name="Spare" type="xs:unsignedShort">
        <xs:annotation>
          <xs:documentation xml:lang="en">Spare</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:encoding>BINARY</sdf:encoding>
              <sdf:length>2</sdf:length>
			  <sdf:occurrence>1</sdf:occurrence>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 45: Corrected OCOG backscatter coefficient -->
      <xs:element name="Corrected_OCOG_Backscatter_Coefficient" type="xs:short">
        <xs:annotation>
          <xs:documentation xml:lang="en">Corrected OCOG backscatter coefficient [dB/100]</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:encoding>BINARY</sdf:encoding>
              <sdf:length>2</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 46: 20-Hz OCOG Backscatter Coefficient [0..19] -->
      <xs:element name="20_Hz_OCOG_Backscatter">
        <xs:annotation>
          <xs:documentation xml:lang="en">20-Hz OCOG Backscatter Coefficient [0..19]</xs:documentation>
          <xs:appinfo>
            <sdf:block>
				<sdf:array>
				  <sdf:length>2</sdf:length>
				  <sdf:occurrence>20</sdf:occurrence>
				</sdf:array>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
        <xs:simpleType>
			<xs:list itemType="xs:short"/>
		</xs:simpleType>
      </xs:element>
      <!-- Field 47: Standard deviation of OCOG Backscatter Coefficient -->
      <xs:element name="20_Hz_OCOG_Backscatter_Std" type="xs:unsignedShort">
        <xs:annotation>
          <xs:documentation xml:lang="en">Standard deviation of OCOG Backscatter Coefficient</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:encoding>BINARY</sdf:encoding>
              <sdf:length>2</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 48: Number of 20Hz valid points for OCOG Backscatter Coefficient -->
      <xs:element name="20_Hz_OCOG_Backscatter_Number_Valid_Points" type="xs:unsignedShort">
        <xs:annotation>
          <xs:documentation xml:lang="en">Number of 20Hz valid points for OCOG Backscatter Coefficient</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:encoding>BINARY</sdf:encoding>
              <sdf:length>2</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 49: OCOG Backscatter Coefficient average status flags -->
      <xs:element name="OCOG_Backscatter_Average_Status_Flags" type="xs:unsignedInt">
        <xs:annotation>
          <xs:documentation xml:lang="en">OCOG Backscatter Coefficient average status flags</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:encoding>BINARY</sdf:encoding>
              <sdf:length>4</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 50: Off-nadir angle of the satellite from platform data [10-4 deg] --> 
      <xs:element name="Off_Nadir_Angle" type="xs:int">
        <xs:annotation>
          <xs:documentation xml:lang="en">Off-nadir angle of the satellite from platform data [10-4 deg]</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:encoding>BINARY</sdf:encoding>
              <sdf:length>4</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 51: Spare -->
      <xs:element name="Spare" type="xs:unsignedShort">
        <xs:annotation>
          <xs:documentation xml:lang="en">Spare</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:encoding>BINARY</sdf:encoding>
              <sdf:length>2</sdf:length>
			  <sdf:occurrence>2</sdf:occurrence>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 52: Mean Surface Height [mm] --> 
      <xs:element name="Mean_Surface_Height" type="xs:int">
        <xs:annotation>
          <xs:documentation xml:lang="en">Mean Surface Height [mm]</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:encoding>BINARY</sdf:encoding>
              <sdf:length>4</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 53: Geoid Height [mm] --> 
      <xs:element name="Geoid_Height" type="xs:int">
        <xs:annotation>
          <xs:documentation xml:lang="en">Geoid Height [mm]</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:encoding>BINARY</sdf:encoding>
              <sdf:length>4</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 54: Ocean Depth / Land elevation [mm] --> 
      <xs:element name="Ocean_Depth_Land_Elevation" type="xs:int">
        <xs:annotation>
          <xs:documentation xml:lang="en">Ocean Depth / Land elevation [mm]</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:encoding>BINARY</sdf:encoding>
              <sdf:length>4</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 55: Total geocentric ocean tide [mm] --> 
      <xs:element name="Total_Geocentric_Ocean_Tide" type="xs:short">
        <xs:annotation>
          <xs:documentation xml:lang="en">Total geocentric ocean tide [mm]</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:encoding>BINARY</sdf:encoding>
              <sdf:length>2</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 56: Long period tide [mm] --> 
      <xs:element name="Long_Period_Tide" type="xs:short">
        <xs:annotation>
          <xs:documentation xml:lang="en">Long period tide [mm]</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:encoding>BINARY</sdf:encoding>
              <sdf:length>2</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 57: Tidal loading height [mm] --> 
      <xs:element name="Tidal_Loading_Height" type="xs:short">
        <xs:annotation>
          <xs:documentation xml:lang="en">Tidal loading height [mm]</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:encoding>BINARY</sdf:encoding>
              <sdf:length>2</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 58: Solid earth tide [mm] --> 
      <xs:element name="Solid_Earth_Tide" type="xs:short">
        <xs:annotation>
          <xs:documentation xml:lang="en">Solid Earth Tide [mm]</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:encoding>BINARY</sdf:encoding>
              <sdf:length>2</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 59: Geocentric Pole Tide [mm] --> 
      <xs:element name="Geocentric_Pole_Tide" type="xs:short">
        <xs:annotation>
          <xs:documentation xml:lang="en">Geocentric Pole Tide [mm]</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:encoding>BINARY</sdf:encoding>
              <sdf:length>2</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 60: Altimetric wind speed [mm/s] --> 
      <xs:element name="Altimetric_Wind_Speed" type="xs:short">
        <xs:annotation>
          <xs:documentation xml:lang="en">Altimetric wind speed [mm/s]</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:encoding>BINARY</sdf:encoding>
              <sdf:length>2</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 61: U-component of the model wind vector [mm/s] --> 
      <xs:element name="Wind_Vector_U" type="xs:short">
        <xs:annotation>
          <xs:documentation xml:lang="en">U-component of the model wind vector [mm/s]</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:encoding>BINARY</sdf:encoding>
              <sdf:length>2</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 62: V-component of the model wind vector [mm/s] --> 
      <xs:element name="Wind_Vector_V" type="xs:short">
        <xs:annotation>
          <xs:documentation xml:lang="en">V-component of the model wind vector [mm/s]</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:encoding>BINARY</sdf:encoding>
              <sdf:length>2</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 63: 20-Hz Ku-band peakiness [0..19] -->
      <xs:element name="20_Hz_Ku_Peakiness">
        <xs:annotation>
          <xs:documentation xml:lang="en">20-Hz Ku-band peakiness [0..19]</xs:documentation>
          <xs:appinfo>
            <sdf:block>
				<sdf:array>
				  <sdf:length>2</sdf:length>
				  <sdf:occurrence>20</sdf:occurrence>
				</sdf:array>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
        <xs:simpleType>
			<xs:list itemType="xs:short"/>
		</xs:simpleType>
      </xs:element>
      <!-- Field 64: Ocean Retracking Quality Flags -->
      <xs:element name="Ocean_Retracking_Quality_Flags" type="xs:unsignedInt">
        <xs:annotation>
          <xs:documentation xml:lang="en">Ocean Retracking Quality Flags</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:encoding>BINARY</sdf:encoding>
              <sdf:length>4</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 65: Altimeter Surface Type Flag -->
      <xs:element name="Altimeter_Surface_Type_Flag" type="xs:unsignedShort">
        <xs:annotation>
          <xs:documentation xml:lang="en">Altimeter Surface Type Flag</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:encoding>BINARY</sdf:encoding>
              <sdf:length>2</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 66: Spare -->
      <xs:element name="Spare" type="xs:unsignedShort">
        <xs:annotation>
          <xs:documentation xml:lang="en">Spare</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:encoding>BINARY</sdf:encoding>
              <sdf:length>2</sdf:length>
			  <sdf:occurrence>1</sdf:occurrence>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>  
  <!-- ========================================= -->
  <!--           ELEMENT DEFINITION              -->
  <!-- ========================================= -->
  <xs:element name="DBLFILE">
    <xs:complexType>
      <xs:annotation>
        <xs:documentation xml:lang="en">
            CRYOSAT SIR_FDM_2.DBL.
         </xs:documentation>
      </xs:annotation>
      <xs:sequence>
        <!-- Main Product Header -->
        <xs:element name="MPH" type="MPH_TYPE"/>
        <!-- Specific Product Header -->
        <xs:element name="SPH" type="SPH_TYPE"/>      
        <!-- Dataset Descriptions -->  
        <xs:element name="DSDS">
            <xs:annotation>
                <xs:documentation xml:lang="en">
                </xs:documentation>
            </xs:annotation>
            <xs:complexType>
                <xs:sequence>
                   <xs:element name="DSD" type="DSD_HEADER_TYPE"
                               minOccurs="0" maxOccurs="unbounded">
                       <xs:annotation>
                           <xs:appinfo>
                               <sdf:block>
                                  <sdf:occurrence query="../../MPH/NUM_DSD"/>
                               </sdf:block>
                           </xs:appinfo>
                       </xs:annotation>
                   </xs:element>
                </xs:sequence>
            </xs:complexType>
        </xs:element>
        <!-- Datasets -->    
        <xs:element name="RECORDS">
            <xs:annotation>
                <xs:documentation xml:lang="en">
                </xs:documentation>
            </xs:annotation>
            <xs:complexType>
                <xs:sequence>
                   <xs:element name="RECORD" type="DBL_TYPE_RECORD"
                               minOccurs="0" maxOccurs="unbounded">
                       <xs:annotation>
                           <xs:appinfo>
                               <sdf:block>
                                  <sdf:occurrence query="../../DSDS/DSD[matches(DS_NAME, '.*SIR_FDM_L2.*')]/NUM_DSR"/>
                               </sdf:block>
                           </xs:appinfo>
                       </xs:annotation>
                   </xs:element>
                </xs:sequence>
            </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
